<footer class="bg-gray-300 rounded-lg shadow-sm m-4 dark:bg-gray-900">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="font-medium text-sm text-gray-800 sm:text-center dark:text-gray-400">
      HLS Player made by
      <a
        class="text-blue-600 dark:text-blue-500 hover:underline"
        href="https://rightonhana.dev"
        >&#64;rightonhana</a
      >
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-800 dark:text-gray-400 sm:mt-0"
    >
      <li>
        Videos from
        <a
          href="https://github.com/bengarney/list-of-streams"
          class="text-blue-600 dark:text-blue-500 hover:underline me-4 md:me-6"
          >bengarney/list-of-streams</a
        >
      </li>
    </ul>
  </div>
</footer>
