.video-wrapper {
	background-color: #292929;
	position: relative;

	.video {
		margin: 0 auto;
		width: 100%;
	}

	.control {
		i {
			font-size: 4rem !important;
		}
	}

	.spinner,
	.control {
		left: calc(50% - 30px);
		position: absolute;
		top: calc(50% - 30px);
	}
}
