.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 95vw;
	height: 95vh;
	margin: 2em 2em 0 2em;

	h1 {
		margin: 0;
	}

	.video-app {
	  margin-top: 1em;
	  display: flex;
	  display: flex;
	  width: 95vw;
	  height: 95vh;
	  justify-content: center;
	  align-items: flex-start;
	
	  .video-player {
		width: 60vw;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
	  }
	
	  .list {
		margin-left: 1.5em;
		flex: 1;
	  }
	
	  @media (max-width: 800px) {
		flex-direction: column;
	
		.video-player {
		  width: 90%;
		}
	
		.list {
		  margin: 2em 0 0 0;
		  width: 90%;
		}
	  }
	}
}
