<nav class="bg-gray-300 border-gray-200 dark:bg-gray-900">
  <div
    class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4"
  >
    <a
      href="https://github.com/rightonhana/hls-player"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <svg
        class="size-10"
        viewBox="0 0 16 16"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xml:space="preserve"
        xmlns:serif="http://www.serif.com/"
        style="
          fill-rule: evenodd;
          clip-rule: evenodd;
          stroke-linejoin: round;
          stroke-miterlimit: 2;
        "
      >
        <path
          d="M2.741,2.048C0.744,3.038 0.802,12.986 2.811,13.986C4.819,14.985 14.803,10.034 14.791,8.045C14.78,6.055 4.738,1.058 2.741,2.048Z"
          style="fill: #2b7fff"
        />
      </svg>

      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >HTTP Live Streaming Player</span
      >
    </a>
    <div class="flex items-center space-x-6 rtl:space-x-reverse">
      <app-theme-switch></app-theme-switch>
    </div>
  </div>
</nav>
